@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100&family=Comfortaa:wght@700&family=Inter+Tight:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100&family=Comfortaa:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.encabezado {
    background-image: linear-gradient(to top, rgba(35, 35, 35, 0.5) 0%, rgba(58, 58, 58, 0.5)), url(img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contenido {
    width: 100%;
    margin: auto;
}
.nav {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 10px 8px;
    background-color: rgb(37, 37, 37);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.nav-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}
.menu-items { 
    padding-left: 10px;
    padding-right: 10px;
}
#github {
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif;
    color: white;
    font-size: 18px;
}
.boton__session {
    padding: 10px 30px;
    border: none;
    background-color: rgb(60, 60, 255);
    border-radius: 15px;
    cursor: pointer;
}

.boton__session:hover{
    background-color: rgb(44, 44, 184);
}   
.session{
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif;
    color: white;
    font-size: 18px;
}


.contenido {
    display: flex;
    justify-content: center;
}
.presentacion {
    margin-top: 65px;
    padding: 200px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    max-width: 1600px;
    margin: auto;
}
#introduciendo {
    font-family: 'Alexandria', sans-serif;
    color: white;
}
#titulo {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 70px;
    text-shadow: 20px;
}

.definicion {
    background-color: rgb(177, 177, 177);
}
.definicion-contenido {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    align-items: center;
    max-width: 1200px;
    margin: 10px auto;
    flex-wrap: wrap;
    padding: 20px 0;
}
.definicion-contenido p {
    padding: 30px 0;
    text-align: center;
    width: 90%;
    max-width: 400px;
    font-family: 'calibri';
}

.definicion-contenido img {
    width: 100%;
    max-width: 306px;
}


.descripcion {
    padding: 50px 10px;
    background-image: linear-gradient(to top, rgba(35, 35, 35, 0.5) 0%, rgba(58, 58, 58, 0.5)), url(img/compare-fibre-INNsF0Zz_kQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(218, 218, 218);
}

.subtitulo-contenedor {
    max-width: 500px;
    margin: auto;
}
.subtitulo {
    padding: 30px 0;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}
.descricion-lista {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0;
    max-width: 1400px;
    margin: auto;
}
.descripcion-box {
    width: 300px;
    padding: 50px 20px;
    list-style: none;
    text-align: center;
}

.descripcion-box img {
    width: 70px;
    height: auto;
    filter: invert(100%);
}

.descripcion-box h2 {
    padding: 10px 0;
    font-family: "Inter Tight", sans-serif;
}
.descripcion-box p {
    padding: 10px 0;
    font-family: 'calibri';
    font-size: 20px;
}

.ver-planes {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.nota {
    padding: 20px 0;
    text-align: center;
}
.nota-texto {
    font-family: 'calibri';
    color: rgb(121, 121, 121);
    width: 90%;
    margin: auto;
}


.contacto {
    background-color: rgb(29, 29, 29);
}
.contacto-contenido {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1600px;
    margin: auto;
    padding: 70px 0;
    align-items: center;
}

.contact-us {
    font-family: 'calibri';
    color: rgb(224, 224, 224);
}

.redes-sociales-contenido {
    list-style: none;
    padding: 10px;
}

.redes-sociales-contenido img {
    width: 35px;
    filter: invert(100%);
}

.lista-light {
    position: fixed;
    background: rgba(0, 0, 0, 0.7) ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show {
    transform: translate(0);
}

.contenido-light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ubicacion-contenedor {
    background-color: white;
    padding: 60px 20px;
    border-radius: 20px;
    transform: scale(0);
    transition: tranform .3s .2s;
}
.ubicacion-contenedor h1 {
    padding: 0 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}

.ubicacion-lista {
    text-align: center;
    list-style: none;
    font-size: 20px;
    padding: 30px 5px;
}

.ubicacion-lista a {
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Calibri';
    background-color: rgb(60, 60, 255);
    justify-content: center;
    padding: 10px 0;
    border-radius: 15px;
}
.ubicacion-lista li {
    padding: 5px 0;
    font-size: 25px;
}
.showlista {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    cursor: pointer;
    filter: invert(100%);
}